.button{
  font: var(--button);
  background: var(--primary);
  color: var(--black);
  padding-block-start: .81rem;
  padding-block-end: .81rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  text-transform: uppercase;
  border: .125rem solid var(--black);
  box-shadow: -.25rem .25rem .87rem rgba(255, 255, 255, .25);
  box-sizing: border-box;
  border-radius: 5rem;
  text-align: center;
  cursor: pointer;
}

.button.is-secondary{
  background-image: url(../icons/icon-github.svg);
  background-repeat: no-repeat;
  background-position: 10% 50% ;
  background-color: unset;
  font: var(--button);
  padding-inline-start: 3.43rem;
  padding-inline-end: 1.5rem;
}