.ellipse{
  display: none;
}

.ellipse-content{
    background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);;
    block-size: 25rem;
    inline-size: 25rem;
    margin-left: 23.56rem;
    top: 34rem;
}

@media screen and (min-width:768px) {
  .ellipse{
    display: block;
  }
}
